h1,p{

  text-align:center;
  color:white;
  padding: 40px;
  content: 10px;
  margin: 41px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}


html{

  background-color: black;
}

li{

  color:white;
  padding: 20px;
  
}

strong{
  color:#b2b2b2;
  
}

a{

  text-decoration: none;
  color:black;
  background: #febe01;
  padding:5px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 3px;

}